*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#about{
  background: #fff;
  padding: 80px 0;
}

#about .about-img {
  overflow: hidden;
}
#about .about-img img {
  max-width: 100%;
}
@media (max-width: 768px) {
  #about .about-img {
    height: auto;
  }
  #about .about-img img {
    margin-left: 0;
    padding-bottom: 30px;
  }
}
#about .about-content {
  background: #fff;
}
#about .about-title {
  color: #333;
  font-weight: 700;
  font-size: 28px;
}

#about .about-text {
  line-height: 26px;
  margin-bottom: 15px;
}

#about .about-text:last-child {
  margin-bottom: 0;
}