*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.row{
     background: light-white;
     border-radius: 30px;
     box-shadow: 12px 12px 22px;
}

.login img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.login h1{
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Twinkle Star', cursive;
}

.inp{
    height: 10px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 60px;

}

.btn1{
    height: 50px;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 600;
    background: rgb(224, 55, 55);
    color: white;

}

.btn1:hover{
    background: brown;
    transition: 0.5s;
}

.fa-facebook{
    font-size: 2.5rem;
    color: rgb(29, 29, 192);
}
.fa-google-plus{
    font-size: 2.5rem;
    color: rgb(192, 29, 56);
}