
:root {
  --primary: #06BBCC;
  --light: #F0FBFC;
  --dark: #181d38;
}


label{
  color: #a0230c;
}
      .gradient-button {
    margin: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 10px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 120px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    border: none;
}
.gradient-button:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px 10px 12px;
}
.gradient-button-1 {background-image: linear-gradient(to right, #DD5E89 0%, #F7BB97 51%, #DD5E89 100%)}
.gradient-button-1:hover { background-position: right center; }








/*** Section Title ***/
.section-title {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
}

.section-title::before {
  position: absolute;
  content: "";
  width: calc(100% + 80px);
  height: 2px;
  top: 4px;
  left: -40px;
  background: var(--primary);
  z-index: -1;
}

.section-title::after {
  position: absolute;
  content: "";
  width: calc(100% + 120px);
  height: 2px;
  bottom: 5px;
  left: -60px;
  background: var(--primary);
  z-index: -1;
}

.section-title.text-start::before {
  width: calc(100% + 40px);
  left: 0;
}

.section-title.text-start::after {
  width: calc(100% + 60px);
  left: 0;
}












/* card */

.inner{
  overflow: hidden;
}

.inner img{
  transition: all 1.5s ease;
}

.inner:hover img{
  transform: scale(1.5);
}



/* service card css starts */

.card{
  height:450px ;
  max-width: 340px;
  margin: 20px;
  box-shadow: 0px 3px 5px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}
.card .bg-image img{
  width: 100%;
  height: 230px;
  object-fit: cover;
  clip-path: polygon(0 0,100% 0%,100% 70%,45% 100%,0 70%);
}
.card .pic img{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
  margin-top: -80px;
  position: relative;
  object-fit: cover;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 20s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 90% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* service card ends here  */



/* team section starts  */





/* team section ends  */
