{% extends 'layout.html' %}
{% load static %}

{% block content %}


<section id="f1" class="position-relative">
    <img src="{% static 'images/bg.jpg' %}" class="bgg position-absolute w-100 h-100" alt="">
    <img src="{% static 'images/bg1.jpg' %}" class="bgg1 position-absolute w-100 h-100" alt="">
    <img src="{% static 'images/bg3.jpg' %}" class="bgg3 position-absolute w-100 h-100" alt="">
    <div class="f1-container">
      <h3><strong>सजिलो सेवा</strong></h3>
      <h1>सेवा हाम्रो साथ तपाईंको</h1>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
</section>

<div class="about-section">
        <div class="inner-container">
            <h1>About Us</h1>
            <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus velit ducimus, enim inventore earum, eligendi nostrum pariatur necessitatibus eius dicta a voluptates sit deleniti autem error eos totam nisi neque voluptates sit deleniti autem error eos totam nisi neque.
            </p>
            <div class="skills">
                <span>Web Design</span>
                <span>Photoshop & Illustrator</span>
                <span>Coding</span>
            </div>
        </div>
    </div>


{% endblock %}