{% extends 'layout.html'%}
{% load static %}

{% block css_files %}
<style>
    .card{
        aspect-ratio: 1/1.3;
    }
</style>
<link rel="stylesheet" href='{% static "css/style.css" %}'>
{% endblock css_files %}
{% block content%}

<section id="category-section" class="container-xxl py-5">
    <div class=" container mt-5">
         <div class="text-center my-4 ">
            <h4 class="section-title bg-white text-center text-primary px-3">All Categories</h4>

        </div>

        <div class="row row-cols-lg-3">
            {% for c in cat %}

            <div class="col-md-6 col-lg-4 mt-2 mb-2 ">
                <div class="card text-start shadow m-auto">
                    <div class="inner bg-image hover-overlay ripple">
                         <img src="{{c.image.url}}" class="img-fluid" />
                        <a href="?service={{c.id}}">
                            <div class="mask"></div>
                        </a>
                    </div>
                    <div class="card-body bg-primary bg-opacity-10">
                        <h3 class="card-title text-center">{{c.name}}</h3>
                        <p class="c-paragraph text-black-50 text-start w-100">
                            {{c.description}}
                        </p>

                      

                        <a href="?service={{c.id}}" class=" btn btn-primary rounded-pill  ">Visit <i class="fas fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            {%endfor%}

        </div>
    </div>
</section>
{% endblock content%}