{% extends 'layout.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}

    <section class="h-75 b-0 g-0 border-3 ">
        <div class="container py-5 h-75 ">
          <div class="row d-flex justify-content-center align-content-center h-75 b-0 border-0 shadow">
            <div class="col ">

                <div class="row g-0  w-100 py-5 ">
                  <div class="col-xl-6 col-lg-5 col-xs-5 d-none d-xl-block border-0 h-75 ">
                    <img
                      src="{% static 'images/login1.png' %}"
                      class="img-fluid"
                      style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;"
                    />
                  </div>
                  <div class="col-xl-5 col-lg-7 col-xs-5 border-0 m-lg-auto shadow">
                    <div class="card-body p-md-5 text-black">
                        <h1 class="display-5 text-center text-secondary"> Sajilo Sewa</h1>
                      <h3 class="mb-5 text-center">Sign In</h3>
                      <form  method="post" action="">
                          {% csrf_token %}
                        <div class="col-md-7 mb-4 col-xs-6 m-auto   ">
                            <div class="form-outline mb-4">
                                <input type="text" name="username" id="form2Example1"  class="form-control"/>
                                <label class="form-label" for="form2Example1">Username</label>
                            </div>
                        </div>

                        <div class=" col-md-7 mb-4 col-xs-6 m-auto ">
                            <div class="form-outline mb-4">
                                <input type="text" name="password" id="form2Example1" class="form-control"/>
                                <label class="form-label" for="form2Example1">Password</label>
                            </div>
                        </div>

                        <div class="col-md-6 mb-4 col-xs-6 m-auto  ">
                            <button type="submit" class="btn btn-primary w-100 ">Log In</button>
                          </div>


                    </form>
                    </div>

                  </div>
                </div>

            </div>
          </div>
        </div>
      </section>



{% endblock %}