{% extends 'layout.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Password Reset Done{% endblock %}

{% block content %}

 <div  class="col-lg-7 mx-auto shadow mb-5" style="margin-top:100px; ">
<form action="" method="post" class="m-auto " style="margin-top:330px;">
      <div class="text-center  ">
            <h4 class="section-title bg-white text-center text-primary px-3">Change Password</h4>
        </div>
     <div class=" m-auto  col-md-6 d-flex flex-column  text-danger">

          {% csrf_token %}

        {{form.label_tag}}
         <label class="form-label" for="form5Example2">New Password</label>
          {{form.new_password1}}
           <label class="form-label" for="form5Example2">Confirm Password</label>
          {{form.new_password2}}
         {{form.errors|striptags}} <br> <br>

          {% if form.non_field_errors %}
            {% for error in form.non_field_errors%}

            {% endfor %}
        {% endif %}

<button type="submit" class=" btn btn-primary btn-block mb-5 w-50 m-auto ">Change Password</button>
         </div>


</form>

 </div>


{% endblock %}