{% extends 'layout.html' %}
{% load bootstrap %}


{% load static %}

{% block title %}Registration{% endblock %}
{% block content %}

    <div class="container col-md-10 mx-auto col-lg-3 mt-2 py-5">
        <h1 class="display-5 text-center text-danger">Create New User</h1>
        <h5 class="text-center">Customer Department</h5>
        <form action="" method="post" class="mt-4">
            {% csrf_token%}
            {{ form | bootstrap }}
            <!-- 2 column grid layout for inline styling -->
            <div class="row m-1">
                <div class="col d-flex justify-content-center">
                    <!-- Checkbox -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="form2Example34" checked/>
                        <label class="form-check-label" for="form2Example34">Wanna see our future update hah?</label>
                    </div>
                </div>

            </div>

            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>

            <!-- Register buttons -->
            <div class="text-center">
                <p>or sign up with:</p>
<!--                <button type="button" class="btn btn-primary btn-floating mx-1">-->
<!--                    <i class="fab fa-facebook-f"></i>-->
<!--                </button>-->
            <a href="{% url 'social:begin' 'facebook' %}">Facebook</a>
                <button type="button" class="btn btn-primary btn-floating mx-1" >
                </button>
                 <a href="{% url 'social:begin' 'google-oauth2' %}">Google</a>

                <button type="button" class="btn btn-primary btn-floating mx-1">
                    <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-primary btn-floating mx-1">
                    <i class="fab fa-github"></i>
                </button>
            </div>
        </form>
    </div>


{% endblock %}