<!-- Footer -->
<footer class="bg-dark text-white text-center text-lg-start" style="background-image: linear-gradient(to right, #8a0af1, #6b35ee, #4c46e8, #2c51de, #0058d2);">

  <!-- Footer Links -->
  <div class="container  text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">About Sajilo-Sewa</h5>
        <p>Sajilo Sewa is a web application which acts as a service provider where data flows in three different terms. Firstly, the admin, user and the mediator between admin and user to book the service.
        In this web application user can easily book any service that they need.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-warning text-start">Social Media</h5>

        <ul class="list-unstyled text-start">
          <li>
            <a href="https://www.facebook.com/ "class="text-white">FaceBook</a>
          </li>
          <li>
            <a href="https://twitter.com/" class="text-white">Twitter</a>
          </li>
          <li>
            <a href="https://www.instagram.com/accounts/emailsignup/?hl=en" class="text-white">Instagram</a>
          </li>
          <li>
            <a href="https://www.google.com/" class="text-white">Google</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-warning text-start">Useful Links</h5>

        <ul class="list-unstyled text-start">
          <li>
            <a href="#!" class="text-white">About Us</a>
          </li>
          <li>
            <a href="#!"class="text-white">Contact Us</a>
          </li>
          <li>
            <a href="#!"class="text-white">Your Account</a>
          </li>
          <li>
            <a href="#!"class="text-white">Help</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4  text-warning text-start">Contact</h5>

        <ul class="list-unstyled text-start">
          <li>
            <a href="#!" class="text-white">Kathmandu Nepal
            </a>
          </li>
          <li>
            <a href="#!"class="text-white">9840338963</a>
          </li>
          <li>
            <a href="#!"class="text-white">sewasajilo@gmail.com</a>
          </li>
          <li>
            <a href="#!"class="text-white">01488923</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="mb-1">Register for free</h5>
    </li>
    <li class="list-inline-item">
      <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
    </li>
  </ul>
  <!-- Call to action -->

  <hr>

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
     <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998;"
        href="#!"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>
    </li>
    <li class="list-inline-item">
      <a
        class="btn btn-primary btn-floating m-1"
      style="background-color: #55acee;"
        href="#!"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>
    </li>
    <li class="list-inline-item">
      <a
        class="btn btn-primary btn-floating m-1"
       style="background-color: #dd4b39;"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>
    </li>

  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
 <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="" >Sajilo-Sewa</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->