
<!-- footer section starts  -->

<section class="footer bg-light">

    <div class="box-container">

        <div class="box">
            <a href="#" class="logo"><i class="fas fa-shopping-basket"></i>सजिलो सेवा</a>
            <p>We provide our valuable customers the best services at the point of the finger without wasting their valuable time.</p>
            <div class="share">
                <a href="#" class="btn fab fa-facebook-f"></a>
                <a href="#" class="btn fab fa-twitter"></a>
                <a href="#" class="btn fab fa-instagram"></a>
                <a href="#" class="btn fab fa-linkedin"></a>
            </div>
        </div>

        <div class="box">
            <h3>Our location</h3>
            <div class="links">
                <a href="#">Nepal</a>
                <a href="#">USA</a>
                <a href="#">India</a>
                <a href="#">Japan</a>
                <a href="#">Russia</a>
            </div>
        </div>

        <div class="box">
            <h3>Quick links</h3>
            <div class="links">
                <a href="#">Home</a>
                <a href="#">Category</a>
                <a href="#">Service</a>
                <a href="#">Team</a>
                <a href="#">About</a>
            </div>
        </div>

        <div class="box">
            <h3>Download Our App</h3>
            <div class="links">
                <a href="#">Google Play</a>
                <a href="#">Windows</a>
                <a href="#">App Store</a>
            </div>
        </div>

    </div>

    <h1 class="credit"> created by <span> सजिलो सेवा </span> | all rights reserved! </h1>

</section>



